<p-dialog [modal]=true [(visible)]="showErrorPopup" header="Error processing request"
   width=400  [dismissableMask]="true"  >
  <div>{{errorMsg}}</div>
</p-dialog>

<app-file-banner></app-file-banner>

<app-file-detail></app-file-detail>
