<div class="content" role="main">
  
  <h2>Next Steps</h2>
  <p>What do you want to do next with the app?</p>

  <input type="hidden" #selection>

  <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'component';clearGrid()" tabindex="0">
        <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>List Dir Files</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'material';clearGrid()" tabindex="0">
        <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Show File Info</span>
    </div>
  </div>

  <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>Full dir path: <input type="text" #directoryPath>  <button class="button" (click)="fetchDirDetails(directoryPath.value)">Apply</button>  <button class="button" (click)="directoryPath.value='';clearGrid($event)">Clear</button></pre>
      <pre *ngSwitchCase="'material'">Full file path: <input type="text" #filePath/>   <button class="button" (click)="fetchFileDetails(filePath.value)">Apply</button>  <button class="button" (click)="filePath.value='';clearGrid($event)">Clear</button></pre>
  </div>

  <div class="table">
      <p-table [value]=files [scrollable]="true" [rows]="100" scrollHeight="350px" 
        [virtualRowHeight]="34" [loading]="loading">
        <ng-template pTemplate="header">
            <tr>
                <th width="12%">File Name</th>
                <th width="42%">Abs Path</th>
                <!-- <th width="30%">Parent Directory</th> -->
                <th width="9%">Size (in bytes)</th>
                <th width="7%">Directory?</th>
                <th width="6%">Hidden?</th>
                <th width="9%">Executable?</th>
                <th width="7%">Readable?</th>
                <th width="8%">Writeable?</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-file>
            <tr>
                <td width="12%">{{file.name}}</td>
                <td width="42%">{{file.absPath}}</td>
                <!-- <td width="30%">{{file.parentName}}</td> -->
                <td width="9%">{{file.size}}</td>
                <td width="7%">{{file.directory}}</td>
                <td width="6%">{{file.hidden}}</td>
                <td width="9%">{{file.canExecute}}</td>
                <td width="7%">{{file.canRead}}</td>
                <td width="8%">{{file.canWrite}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            Number of files: {{files?.length}}
        </ng-template>
      </p-table>
  </div>
</div>