.button {
    border-radius: 4px;
    border: 1px solid rgb(26, 7, 7);
    background-color: #1976d2;
    // height: 22px;
    width: 110px;
    // margin: 0 8px 8px;
    // padding: 6px;
    justify-content: center;
  }

.table {
    position: relative;
    width: 100%;
    border-radius: 6px;
    // padding-top: 45px;
    margin-top: 18px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }